mixin bookmark(url, icon)
  .bookmark
    a(href=url)
      i(class="fa " + icon + " icon")


html
  head
    script(src='js/jquery-3.2.1.min.js')
    script(src='js/time.js')
    link(rel='stylesheet', type='text/css', href='css/font-awesome.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    title New Tab
  body
    .container
      #time 20:00
      .bookmarks
        +bookmark("https://www.youtube.com/feed/subscriptions", "fa-youtube-play")
        +bookmark("https://www.reddit.com/r/popular/", "fa-reddit")
        +bookmark("https://www.github.com", "fa-github")
        +bookmark("https://www.bitbucket.com", "fa-bitbucket")
        +bookmark("https://www.trello.com", "fa-trello")
        +bookmark("https://wunderlist.com", "fa-list-ul")
        +bookmark("https://dropbox.com/home", "fa-dropbox")
        +bookmark("https://getpocket.com", "fa-get-pocket")
        +bookmark("https://inbox.google.com", "fa-envelope")